body {
  background-color: FloralWhite;
}

nav {
  font-family: 'Mansalva', cursive;
  background-color: IndianRed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  z-index: 300;
  text-align: center;
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.3);
  color: Khaki;
  text-shadow: 3px 3px Brown;
}

a {
  text-decoration: none;
  color: Khaki;
}
a:hover {
  text-shadow: 5px 5px DimGray;
}

p {
  font-size: 5em;
  margin: 0;
  margin-top: 1.5vh;
}

#main {
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
}

#drawing-area {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

#canvas {
  border-radius: 10px;
  flex-grow: 2;
  height: 70vh;
  width: 80vw;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

canvas {
  border-radius: 10px;
  cursor: pointer;
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: PeachPuff;
  border-radius: 5px;
  height: 10vh;
  width: 80vw;
  margin-top: 1%;
}

.colorbutton {
  padding: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 0 0.25vw;
}

.colorbutton:focus {
  outline: 0;
}

.brushbutton {
  cursor: pointer;
  border: none;
  border-radius: 100%;
  margin: 0 0.4vw;
  background-color: #000000;
}

.brushbutton:focus {
  outline: 0;
}

.brushbutton:active {
    transform: translateY(2px);
}

#blue {
  background-color: #55acee;
  box-shadow: 0px 6px 0px 0px #3C93D5;
}

#blue:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #3C93D5;
}

#green {
  background-color: #2ecc71;
  box-shadow: 0px 6px 0px 0px #15B358;
}

#green:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #15B358;
}

#red {
  background-color: #e74c3c;
  box-shadow: 0px 6px 0px 0px #CE3323;
}

#red:active {
  background-color: #e74c3c;
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #CE3323;
}


#orange {
  background-color: #e67e22;
  box-shadow: 0px 6px 0px 0px #CD6509;
}

#orange:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #CD6509;
}

#yellow {
  background-color: #f1c40f;
  box-shadow: 0px 6px 0px 0px #D8AB00;
}

#yellow:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #D8AB00;
}

#black {
  background-color: #353839;
  box-shadow: 0px 6px 0px 0px #000000;
}

#black:active {
  transform: translateY(4px);
  box-shadow: 0px 4px 0px 0px #000000;
}

#small {
  padding: 10px;
}

#medium {
  padding: 15px;
}

#big {
  padding: 20px;
}

#erase-button {
  border: none;
  background: url('images/eraser.png') no-repeat;
  padding: 25px;
  cursor: pointer;
}

#erase-button:active {
  transform: translateY(4px);
}

#erase-button:focus {
  outline: 0;
}

#clear-button {
  cursor: pointer;
  border: none;
  font-family: 'Nunito', cursive;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
}

#draw-score {
  text-align: left;
  font-family: 'Nunito', cursive;
}

hr {
  border: 1px solid BurlyWood;
}

#chatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: White;
  border-radius: 5px;
  height: 85vh;
  width: 20vw;
}

form {
  margin-top: 78vh;
  position: fixed;
  bottom: 3vh;
}

#text {
  border: none;
  border: 2px solid Gray;
  border-radius: 5px;
  padding: 1.5vh;
  font-size: 15px;
  width: 16vw;
}

#messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10%;
  padding: 0;
  font-family: 'Nunito', cursive;
}

#messages li {
  padding: 1.5vh;
}

#messages li:nth-child(odd) {
  background: Linen;
}


@media (max-height: 700px) {
  p {
    font-size: 4em;
    margin-top: 0;
  }
}
