body {
  background-color: FloralWhite;
}

nav {
  font-family: 'Mansalva', cursive;
  background-color: IndianRed;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  z-index: 300;
  text-align: center;
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.3);
  color: Khaki;
  text-shadow: 3px 3px Brown;
}

p {
  font-size: 5em;
  margin: 0;
  margin-top: 3.5vh;
}

#main {
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
}

#drawing-area {
  display: flex;
  flex-direction: column;
  margin-right: 1vw;
}

#canvas {
  border-radius: 10px;
  flex-grow: 2;
  height: 70vh;
  width: 80vw;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.3);
}

canvas {
  border-radius: 10px;
}

#toolbar {
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: PeachPuff;
  border-radius: 5px;
  height: 10vh;
  width: 80vw;
  margin-top: 1%;
}

#chatbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: White;
  border-radius: 5px;
  height: 85vh;
  width: 20vw;
}

form {
  margin-top: 78vh;
  position: fixed;
  bottom: 3vh;
}

#text {
  border: none;
  border: 2px solid Gray;
  border-radius: 5px;
  padding: 1.5vh;
  font-size: 15px;
  width: 16vw;
}

#messages {
  list-style-type: none;
  margin: 0;
  margin-bottom: 10%;
  padding: 0;
  font-family: 'Nunito', cursive;
}

#messages li {
  padding: 1.5vh;
}

#messages li:nth-child(odd) {
  background: Linen;
}


@media (max-height: 620px) {
  p {
    margin-top: 0;
  }
}
